<header>
  <div class="container">
    <nav>
      <h1>Sistema de Agendamentos</h1>
      <ul class="nav-links">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/agendamentos">Todos Agendamentos</a></li>
        <li><a href="/novo-agendamento">Novo Agendamento</a></li>
        <li><a href="/seus-agendamentos/1">Seus Agendamentos</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a href="/nova-sala">Nova Sala</a></li>
      </ul>
    </nav>
  </div>
</header>